<?xml version="1.0" encoding="utf-8"?>
<!-- Только debug-сборка: открытый http к боту в локальной сети (эмулятор: 10.0.2.2). В релизе запрещён. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" />
</manifest>
